.listComponent{
    display: flex;
    background: #ff00007e;
    transition: 0.4s;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 6px;
    height: 100%;
    width: 85%;
    padding: 4%;
    margin: auto;
}

.listComponent:hover{
    background: #4343437e;
    transition: 0.4s
}

.listComponent:active{
    background: rgb(236, 236, 236);
}

.img{
    background: none;
    display: block;
    padding: 0 4% 0 0;
}