.listComponent{
    display: flex;
    background: #D9DCE2;
    transition: 0.4s;
    color: #000000;
    cursor: pointer;
    border-radius: 6px;
    height: 100%;
    width: 85%;
    padding: 4%;
    margin: auto;
}

.listComponent:hover{
    background: #4343437e;
    transition: 0.4s
}

.listComponent:active{
    background: rgb(236, 236, 236);
}

.blockName{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    font-family: 'Century Gothic';
}

.img{
    background: none;
    display: block;
    padding: 0 14% 0 0;
}